.logo {
  position: relative;
  height: 300px;
  width: 300px;
  left:100px;
  margin-top: 25px;
}

.text {
  position:relative;
  left:300px;
  color: green;
  position:center;
  font-size:25px;
  font-weight: bold;
}

/*.pic {
  position: relative;
  margin-top: 20px;
}*/